<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="draft.database.mybatis.mapper.UserMapper">
    <select id="findOne" resultType="draft.entity.User">
        SELECT
            id,
            name,
            age
        FROM user
        LIMIT 1
    </select>
    <select id="findAll" resultType="draft.entity.User">
        SELECT
            id,
            name,
            age
        FROM user
    </select>
    <select id="findByName" resultType="draft.entity.User">
        SELECT
            id,
            name,
            age
        FROM user
        WHERE name = #{name}
    </select>
    <select id="searchByAge" resultType="draft.entity.User">
        SELECT
        id,
        name,
        age
        FROM user
        WHERE TRUE
        <if test="age != null">
            AND age = #{age}
        </if>
    </select>
</mapper>
