node_modules/
dist/
.mtj.tmp/
.idea
.gradle
.settings/

_config.js
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.iml
.DS_Store
.vertx
out
build
*.xlsx
*.pid
.classpath
.project
*.ipr
*.iws
*.db
